@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-marquee-vertical {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: marquee-vertical 20s linear infinite;
}
